
<li class="list-group-item" style="background-color:wheat">
	{{burger_name}}

	<button type="button" id="change-devoured" class="btn btn-light" style="color:dodgerblue" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devour}}Eat Up!{{else}}All Done!{{/if}}
	</button>

</li>
